.columns-results > div {
  display: flex;
  flex-direction: column;
}

.columns-results img {
  width: 100%;
}

.columns-results > div > div {
  order: 1;
}

.columns-results > div > .columns-results-img-col {
  order: 0;
}

.columns-results > div > .columns-results-img-col img {
  display: block;
}

.columns-results > div {
  align-items: center;
  flex-direction: unset;
  gap: 32px;
}

.columns-results > div > div {
  flex: 1;
  order: unset;
}
