footer {
  padding: 2rem;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.sponsors div {
  text-align: center;
}

.sponsors div div {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.sponsors div div img {
  max-width: 200px;
  display: block;
  width: auto;
  height: auto;
}